<h1>事業概要</h1>

<ul>
<li>#トラしゅ の度に登場します</li>
<li>実在の会社ではありませんし何も関係はありません</li>
<li>山◯くんはめげないでえらいと思います</li>
<li>ncstudy, odstudy, hbstudy共催です</li>
<li>いつも準備が間に合わない。でも間に合う不思議</li>
<li>苦情は受け付けませんが仰っていただく分には構いません</li>
</ul>
