<h1>オリンピック開催記念！大放出オークション - メガネと自転車の五月女商会</h1>


<h1>開催中のオークション</h1>

<table class="table table-striped">
<tbody>
<% @auctions.each do |auction| %>
<tr>
    <td>
        <%= link_to '詳しく見る', auction %>
    </td>
    <td>
        <img src="<%= auction.image_url_sub %>" width="120px"/>
    </td>
    <td>
        <span class="">★<%= auction.start_at %>開始★</span>
        <br />
        <span class=""><%= auction.title %></span>
    </td>
</tr>
<% end %>
</tbody>
</table>

